{% extends 'web/base.html' %}
{% load static %}
{% block content %}


    <!-- ==================== Start Loading ==================== -->

    <div id="preloader">
        <div class="loading-text">Loading</div>
    </div>

    <!-- ==================== End Loading ==================== -->


    <!-- ==================== Start progress-scroll-button ==================== -->

    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- ==================== End progress-scroll-button ==================== -->


    <!-- ==================== Start cursor ==================== -->

    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- ==================== End cursor ==================== -->



    <!-- ==================== Start Navbar ==================== -->

    

    <!-- ==================== End Navbar ==================== -->



    <!-- ==================== Start Slider ==================== -->
    <header class="slider text-center">
        <div class="swiper-container parallax-slider">
            <div class="swiper-wrapper">
                {% for b in baner %}
                <div class="swiper-slide">
                    <div class="bg-img valign" data-background="{{b.background_image.url}}" data-overlay-dark="0">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-9">
                                    <div class="caption center">
                                        <h1 data-splitting class="playfont"><a href="#0">
                                                {{b.title}} 
                                            </a></h1>
                                        <p>{{b.description}}</p>
                                        <a href="#0" class="btn-curve btn-color mt-20">
                                            <span>Discover Work</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    
            <!-- slider setting -->
            <div class="setone setwo">
                <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                    <i class="fas fa-chevron-right"></i>
                </div>
                <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                    <i class="fas fa-chevron-left"></i>
                </div>
            </div>
            <div class="swiper-pagination top botm custom-font"></div>
    
            <div class="social-icon">
                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                <a href="#0"><i class="fab fa-twitter"></i></a>
                <a href="#0"><i class="fab fa-behance"></i></a>
                <a href="#0"><i class="fab fa-pinterest-p"></i></a>
            </div>
        </div>
    </header>
    

    <!-- ==================== End Slider ==================== -->



    <!-- ==================== Start Services ==================== -->

    <section class="services section-padding bg-gray">
        <div class="container">
            <div class="section-head text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <h6 class="custom-font wow fadeInDown" data-wow-delay=".3s">Best Features</h6>
                        <h4 class="playfont wow flipInX" data-wow-delay=".5s">Our Services</h4>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4">
                    <div class="item-bx bg-img wow fadeInUp" data-wow-delay=".3s" data-background="img/01.jpg">
                        <span class="icon flaticon-houses"></span>
                        <h6 class="mb-20">Architecture</h6>
                        <p>Cras mollis turpis a ipsum ultes, nec cond imentum ipsum consequat.</p>
                        <a href="#0" class="more custom-font mt-30">Read More</a>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="item-bx bg-img wow fadeInUp" data-wow-delay=".5s" data-background="img/02.jpg">
                        <span class="icon flaticon-living-room"></span>
                        <h6 class="mb-20">Interior Design</h6>
                        <p>Cras mollis turpis a ipsum ultes, nec cond imentum ipsum consequat.</p>
                        <a href="#0" class="more custom-font mt-30">Read More</a>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="item-bx bg-img wow fadeInUp" data-wow-delay=".7s" data-background="img/03.jpg">
                        <span class="icon flaticon-interior-design"></span>
                        <h6 class="mb-20">3D Modeling</h6>
                        <p>Cras mollis turpis a ipsum ultes, nec cond imentum ipsum consequat.</p>
                        <a href="#0" class="more custom-font mt-30">Read More</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ==================== End Services ==================== -->



    <!-- ==================== Start Works ==================== -->

    <section class="work-carousel metro section-padding dark">
        <div class="container-fluid">
            <div class="container">
                <div class="section-head text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-8 col-sm-10">
                            <h6 class="custom-font wow fadeInDown" data-wow-delay=".3s">Best Works</h6>
                            <h4 class="playfont wow flipInX" data-wow-delay=".5s">Our Portfolio</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 no-padding">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for p in portfolio %}
                            <div class="swiper-slide">
                                <div class="content wow fadeInUp" data-wow-delay=".3s">
                                    <div class="item-img bg-img wow imago" data-background="{{p.background_image.url}}"></div>
                                    <div class="cont">
                                        <h6><a href="#">{{p.sub_title}}</a></h6>
                                        <h4><a href="#">{{p.title}}</a></h4>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>

                        <!-- slider setting -->
                        <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                            <i class="ion-ios-arrow-right"></i>
                        </div>
                        <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                            <i class="ion-ios-arrow-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Works ==================== -->



    <!-- ==================== Start about ==================== -->

    <section class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="extra wow fadeInUp" data-wow-delay=".3s">
                        <h2 class="mb-20 playfont fz-50">What we <br> actually do.</h2>
                        <p>Architecture bibendum pharetra eleifend. Suspendisse vel volutpat purus, sit amet bibendum
                            nisl. mollis turpis a ipsum ultes, nec condi mentum ipsum consequat. Mauris vitae
                            consequat nibh, vitae interdum mi.</p>
                    </div>
                </div>
                <div class="col-lg-4 valign">
                    <div class="specialty wow fadeInUp" data-wow-delay=".5s">
                        <ul>
                            <li><span>01.</span>Design Project</li>
                            <li><span>02.</span>Interior Visualization</li>
                            <li><span>03.</span>Landscape Design</li>
                            <li><span>04.</span>Architect Services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-img pat valign text-center" data-background="img/pat1.png">
            <a class="play-button color vid wow fadeInUp" data-wow-delay=".7s" href="https://youtu.be/AzwC6umvd1s">
                <svg class="circle-fill">
                    <circle cx="43" cy="43" r="39" stroke="#b19777" stroke-width=".5"></circle>
                </svg>
                <svg class="circle-track">
                    <circle cx="43" cy="43" r="39" stroke="none" stroke-width="1" fill="none"></circle>
                </svg>

                <span class="polygon">
                    <i class="pe-7s-play"></i>
                </span>
            </a>
        </div>
    </section>

    <!-- ==================== End about ==================== -->



    <!-- ==================== Start before & after ==================== -->

    {% if transformation %}
    <section class="after-before section-padding">
        <div class="background bg-img parallaxie" data-background="{% static "web/img/04.jpg" %}" data-overlay-dark="7"></div>
        <div class="container ontop">
            <div class="section-head text-center wow fadeInUp" data-wow-delay=".3s">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <h6 class="custom-font">Best Works</h6>
                        <h4 class="playfont">Drag the Slider to See
                            the Transformation One of the Interior</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="dotsbg wow fadeInUp" data-wow-delay=".3s">
                        <div class="twentytwenty-container wow imago">
                            <img src="{{transformation.before.url}}" alt=""/>
                            <img src="{{transformation.after.url}}" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}

    {% endif %}

    <!-- ==================== End before & after ==================== -->



    <!-- ==================== Start Numbers ==================== -->

    <div class="numbers section-padding pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <h3><span class="nbr custom-font">352</span></h3>
                        <h6>Projects Completed</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <h3><span class="nbr custom-font">567</span></h3>
                        <h6>Satisfied Clients</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <h3><span class="nbr custom-font">656</span><i>M</i></h3>
                        <h6>Monthly Revenue</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <h3><span class="nbr custom-font">17</span></h3>
                        <h6>Awards Won</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ==================== End Numbers ==================== -->



    <!-- ==================== Start Team ==================== -->

    {% if employees %}
    <section class="team section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="tit">
                        <h6 class="custom-font mb-10 wow fadeInDown" data-wow-delay=".3s">Some thoughts from Us</h6>
                        <h3 class="wow flipInX" data-wow-delay=".3s">Our Employees</h3>
                        <p class="wow fadeInUp" data-wow-delay=".3s">We feel proud for our expert team members beatae
                            ipsum dolor sit amet, consectetur
                            adipisicing elit mauris vitae consequat nibh, vitae interdum mi.</p>
                        <div class="navs mt-30 wow fadeInUp" data-wow-delay=".3s">
                            <span class="prev">
                                <i class="fas fa-long-arrow-alt-left"></i>
                            </span>
                            <span class="next">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="team-container">
                        {% for e in employees %}
                        <div class="item wow fadeInUp" data-wow-delay=".3s">
                            <div class="img wow imago">
                                <img src="{{e.image.url}}" alt="">
                            </div>
                            <div class="info">
                                <h5>{{e.name}}</h5>
                                <span>{{e.position}}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="dots-half bg-img bg-repeat" data-background="img/dots.png"></div>
    </section>
    {% endif %}

    <!-- ==================== End Team ==================== -->



    <!-- ==================== Start Testimonials ==================== -->

    {% if testimonial %}
    <section class="testimonials grid section-padding">
        <div class="container">
            <div class="section-head text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <h6 class="custom-font wow fadeInDown" data-wow-delay=".3s">Testimonials</h6>
                        <h4 class="playfont wow flipInX" data-wow-delay=".5s">What People Says?</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testim">
                        {% for t in testimonial %}
                        <div class="item wow fadeInUp" data-wow-delay=".3s">
                            <span class="quote-icon"><img src="{% static 'web/img/clients/quote.svg'%}" alt=""></span>
                            <div class="cont">
                                <p class="playfont">"{{t.description}}"
                                </p>
                            </div>
                            <div class="info">
                                <div class="author">
                                    <img src="{{t.image.url}}" alt="">
                                </div>
                                <h6>{{t.name}}<span>client</span> </h6>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                    <div class="navs mt-30 wow fadeInUp" data-wow-delay=".3s">
                        <span class="prev">
                            <i class="fas fa-long-arrow-alt-left"></i>
                        </span>
                        <span class="next">
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    
    {% endif %}

    <!-- ==================== End Testimonials ==================== -->



    <!-- ==================== Start Blog ==================== -->

    <section class="blog-grid center bg-gray section-padding">
        <div class="container">

            <div class="section-head text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <h6 class="custom-font wow fadeInDown" data-wow-delay=".3s">Latest News</h6>
                        <h4 class="playfont wow flipInX" data-wow-delay=".5s">Our Blogs</h4>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="item wow fadeInUp md-mb50" data-wow-delay=".3s">
                        <div class="post-img">
                            <div class="img">
                                <img src="{% static 'web/img/blog/1.jpg'%}" alt="">
                            </div>
                        </div>
                        <div class="cont">
                            <div class="info">
                                <a href="#0">Alex Smith</a>
                                <a href="#0">Aug 06 2019</a>
                            </div>

                            <h5 class="playfont"><a href="#0">In Good Taste: Mark Finlay Architects and Interiors</a>
                            </h5>

                            <a href="blog-details.html" class="more">
                                <span class="custom-font">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="item wow fadeInUp md-mb50" data-wow-delay=".1s">
                        <div class="post-img">
                            <div class="img">
                                <img src="{% static 'web/img/blog/2.jpg'%}" alt="">
                            </div>
                        </div>
                        <div class="cont">
                            <div class="info">
                                <a href="#0">Alex Smith</a>
                                <a href="#0">Aug 06 2019</a>
                            </div>

                            <h5 class="playfont"><a href="#0">Five Things You Should Know About Modern Furniture.</a>
                            </h5>

                            <a href="blog-details.html" class="more">
                                <span class="custom-font">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ==================== End Blog ==================== -->



    <!-- ==================== Start Footer ==================== -->

    

    <!-- ==================== End Footer ==================== -->


{% endblock %}