{% extends 'web/base.html' %}
{% load static %}
{% block content %}


    <div id="preloader">
        <div class="loading-text">Loading</div>
    </div>

    <!-- ==================== End Loading ==================== -->


    <!-- ==================== Start progress-scroll-button ==================== -->

    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- ==================== End progress-scroll-button ==================== -->


    <!-- ==================== Start cursor ==================== -->

    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- ==================== End cursor ==================== -->


    <!-- ==================== Start Navbar ==================== -->

    
    <!-- ==================== End Navbar ==================== -->



    <!-- ==================== Start Header ==================== -->

    <header class="pages-header bg-img valign parallaxie" data-background="img/pg1.jpg" data-overlay-dark="5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cont text-center">
                        <h1>Post Details</h1>
                        <div class="path">
                            <a href="{% url "web:index" %}">Home</a><span>/</span><a href="#"
                                class="active">{{object.slug}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- ==================== End Header ==================== -->



    <!-- ==================== Start Blog ==================== -->

    <section class="blog-pg single section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11">
                    <div class="post">
                        <div class="title-head">
                            <h2>{{object.title}}</h2>
                            
                        </div>
                        <div class="img main-img">
                            <img src="{{object.background_image.url}}" alt="" class="thumparallax">
                        </div>
                        <div class="content pt-20">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <div class="cont">
                                        <div class="spacial">
                                            <p>{{object.descriptions|safe}}</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Blog ==================== -->



{% endblock %}