{% load static %}

{% comment %} <nav class="navbar bg-body-tertiary navbar change navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img id="navbar-logo" src="" alt="Bootstrap" width="30" height="24">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" href="{% url "web:index" %}" role="button">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "web:about" %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="portfolio-mas2.html">Portfolio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Blog</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="blog.html">Blogs</a>
                    <a class="dropdown-item" href="blog-details.html">Post Details</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>
        </ul>
        <div class="social-icon">
            <a href="#0"><i class="fab fa-facebook-f"></i></a>
            <a href="#0"><i class="fab fa-twitter"></i></a>
            <a href="#0"><i class="fab fa-behance"></i></a>
        </div>
    </div>
    </div>
  </nav> {% endcomment %}
<nav class="navbar change navbar-expand-lg">
    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand" href="#">
        <img id="navbar-logo" src="{% static "web/img/Frame 2.png" %}" alt="Bootstrap" width="30" height="24">
      </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{% url "web:index" %}" role="button">Home</a>
                     <div class="dropdown-menu">
                        <a class="dropdown-item" href="index.html">Main Home</a>
                        <a class="dropdown-item" href="index.html">Architecture</a>
                        <a class="dropdown-item" href="index.html">Interior Design</a>
                    </div> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "web:about" %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="portfolio-mas2.html">Portfolio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Blog</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="blog.html">Blogs</a>
                        <a class="dropdown-item" href="blog-details.html">Post Details</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
            <div class="social-icon">
                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                <a href="#0"><i class="fab fa-twitter"></i></a>
                <a href="#0"><i class="fab fa-behance"></i></a>
            </div>
        </div>
    </div>
</nav>